{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница</title>
{% endblock %}

{% block content %}
r
<h1>Добро пожаловать на платформу {{caption}}!</h1>
<br>

<h3>{{caption}} — это инновационная платформа для веб-разработчиков,
созданная с целью упростить и ускорить процесс создания современных веб-приложений.</h3>
<br>

<h4>Основанная на мощном фреймворке Django, наша платформа предоставляет широкий
набор инструментов и ресурсов, которые помогут вам создать надежные,
масштабируемые и красивые веб-сайты.</h4>

<h2>Преимущества использования CatDjango:</h2>

<p>1.	Удобство и простота.
2.	Быстрая разработка.
3.	Гибкость и масштабируемость.
4.	Безопасность.
5.	Интеграция с Bootstrap.
6.	Поддержка сообщества.</p>

<h3>Присоединяйтесь к нам на CatDjango и начните создавать удивительные веб-приложения уже сегодня!
Вместе мы сделаем веб-разработку проще, быстрее и увлекательнее.</h3>
.
{% endblock %}