{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

    {% block title %}

    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-3 bg-light p-3">
                <div class="text-center">
                    <img src="{% static 'main/img/Cat.jpeg' %}" alt="Милый котик" class="img-fluid rounded mb-3" style="width: 150px;">
                    <h3>CatDjango</h3>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'home' %}">Главная страница</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'page2' %}">Вторая страница</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news_home' %}">Новостная страница</a>
                    </li>
                </ul>
            </aside>
            <main class="col-md-9 p-3">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>